<header>
  	<h1> Test ToDo Application </h1>
</header>
<main>
    <span class="error" *ngIf="error">{{ error }}</span>
  	<form #formData='ngForm' class="login-form" (ngSubmit)="onSubmit(formData)">
		<input type="text" placeholder="Email" (ngModel)="email" name="email" required>
		<input type="password" placeholder="Password" (ngModel)="password" name="password" required>
		<button type="submit" [disabled]="!formData.valid">Log in</button>
	</form>
	<button (click)="loginGoogle()" id="google">Login With Google</button>
	<a routerLink="/signup" routerLinkActive="active">No account? <strong>Create one here</strong></a>
</main>